@model ProductPageViewModel


<form method="post">
    @Html.HiddenFor(x=>x.Id)

    <div>
        Enter rating: @Html.TextBoxFor(x => x.Rating)
    </div>
    <div>
        <input type="submit" value="Update rating" />
    </div>
</form>