@model GameViewModel

<div>
    <form method="post">
        <div>
            Name: @Html.TextBoxFor(x => x.Name)
        </div>
        <div>
            Price: @Html.TextBoxFor(x => x.Price)
        </div>
        <div>
            CoverUrl: @Html.TextBoxFor(x => x.CoverUrl)
        </div>
        <div>
            <input type="submit" value="Create game" />
        </div>
    </form>
</div>