@model GameViewModel

<div>
    <form method="post">
        <div>
            Name: @Html.TextBoxFor(x => x.Name)
        </div>
        <div>
            Price: @Html.TextBoxFor(x => x.Price)
        </div>
        <div>
            Scren: @Html.TextBoxFor(x => x.CoverUrl)
        </div>
</form>
</div>
@section Styles{
    <link rel="stylesheet" href="~/css/game.css" />
}