@model GameViewModel

<div>
    <form method="post">
        <div>
            Name: @Html.TextBoxFor(x => x.Name)
        </div>
        <div>
            Price: @Html.TextBoxFor(x => x.Price)
        </div>
        <div>
            Scren<div class="cover">
            <img scr="@Html.TextBoxFor(x => x.CoverUrl)"/>
        <div>
            <input type="submit" value="Create game" />
        </div>
    </form>
</div>
@section Styles{
    <link rel="stylesheet" href="~/css/game.css" />
}