@using HealthyFoodWeb.Models.Games
@model GameAndPagginatorViewModel

<div class="pagginator">
    @foreach(var pageNumber in Model.PageList)
    {
        <a 
            href="/Game/Games?page=@pageNumber"
            class=" @(Model.ActivePageNumber == pageNumber ? "active" : "")">@pageNumber</a>
    }
</div>

<div>
    @foreach (var gameViewModel in Model.Games)
    {
        <div class="game">
            <div class="cover">
                <img src="@gameViewModel.CoverUrl" />
            </div>
            Name @gameViewModel.Name <a href="/Game/Remove?name=@gameViewModel.Name">X</a>
        </div>
    }
</div>



@section Styles{
    <link rel="stylesheet" href="~/css/game.css" />
}