@model QuizViewModel
<div class = "centre">
<h1>Добро пожаловать в викторину о здоровом питании</h1>
<div>
    Викторину уже прошло @Model.QtyGames пользователей. Количесвто победителей: @Model.QtyWinner
</div>


<div class="Button">
    <a href="/Quiz/StartQuiz/" class="myButton">Старт</a>
</div>
</div>
@section Styles{
    <link rel="stylesheet" href="~/css/Quiz.css" />
}
