@using HealthyFoodWeb.Models.Quiz
@model QuizViewModel

<div>

    @foreach (var name in Model.Name)
    {
        <div>
            <form method="post" action="/Quiz/StartQuiz/">

                @*   <input type = "hidden" id =   >*@
                @Html.HiddenFor(x=>x.Id)
                <input type="submit" value="@name" class="myButton">
            </form>
        </div>
    }

</div>

@section Styles{
<link rel="stylesheet" href="~/css/Quiz.css" />
}