@using HealthyFoodWeb.Models.Quiz
@model QuizViewModel

<div class="nameQuiz">

    @foreach (var name in Model.Name)
    {
        <div class = "nameQuiz">
            <form method="get" action="/Quiz/StartQuiz/" class = "nameQuiz">

                @*   <input type = "hidden" id =   >*@
                @*@Html.HiddenFor(x=>x.Id)*@
                <input type="submit" value="@name" class="myButton">
            </form>
        </div>
    }

</div>

@section Styles{
<link rel="stylesheet" href="~/css/Quiz.css" />
}