@using HealthyFoodWeb.Models.Quiz
@model List<StartQuizViewModel>

@foreach (var question in Model)
{
    <div>
        @question.Ques
        <div>
            @for (int i = 0; i < @question.Answers.Count; i++)
            {
                <div>
                    @Html.RadioButtonFor(m => question.Answers, i)
                    @question.Answers[i]
                    }
                </div>
            }
        </div>
    </div>
}