@model GetFruitConnectTwoViewModel

<div>
    <form method="post">
        <div>
           Введите название игры: @Html.TextBoxFor(x => x.NameOfSimilarGame)
        </div>
        <div>
           Укажите ссылку на игру: @Html.TextBoxFor(x => x.Url)
        </div>
         <div>
           Укажите ссылку на картинку @Html.TextBoxFor(x => x.LinkForPicture)
        </div>
        <div>
           укажите жанр игры @Html.TextBoxFor(x =>x.Genre)
        </div>
        <div>
            <input type="submit" value="Add game" />
        </div>
    </form>
</div>
<div>
    Game name: <span class="name"></span>$
</div>
<div class="preview-container">
    <img />
</div>
@section Scripts{
    <script src="~/js/gameCatigory.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/css/Catalog.css" />
}