<h1>Поддержите белоруского девелопера монеткой</h1>
<div>
    <img src="https://www.meme-arsenal.com/memes/06a9f435efba72e51e259dfd884c2e6d.jpg">
</div>
<div>Реквизиты для перевода:</div>
<div>Номер карты: 4585 2372 2803 4610</div>
<div> БАНК : CJSC ALFA-BANK</div>
<div>    ИМЯ : Best Team HTML games dev </div>
<div>    Срок действия : 08/2025 </div>