@model List<GameCatalogVeiwModel>
@{
    Layout = "_Layout_GameCatalog";
}


@*@foreach(var catalog in Model)
    {
    <div>
    @catalog.NameCategory
    </div>
    }*@

@*<p><a href="sample.html"><img src="images/sample.gif" width="50"
        height="50"></a></p>*@

<title>Catalog</title>
<div class="all">
    <div class="left-menu">
        <div class="logo">Game Catalog</div>
        <a href="http://hearlyfood/game/arcade" class="buttom-gamearcade" target="_blank">
            &#127906;Arcade
        </a>
        <a href="http://hearlyfood/game/victory" class="buttom-gamevictory" target="_blank">
            &#128106;Quizzes
        </a>
        <a href="http://hearlyfood/game/racing" class="buttom-gameracing" target="_blank">
            &#128664;Race
        </a>
        <a href="http://hearlyfood/game/training" class="buttom-gametraining" target="_blank">
            &#128214;Training
        </a>
        <a href="http://hearlyfood/game/cards" class="buttom-gamecards" target="_blank">
            &#127183;Card
        </a>
        <a href="http://hearlyfood/game/tests" class="buttom-gametests" target="_blank">
            &#128214;Tests
        </a>
        <a href="http://hearlyfood/game/adventurn" class="buttom-gameadventurn" target="_blank">
            &#127939;Adventure
        </a>
    </div>

    <div class="centre">
        <div class="footer">
            <div>
                Популярные игры
            </div>
            <div>
                <a href="/GameCatalog/GetFruitConnectTwo">
                    <img src="https://www.game-game.com.ua/gamesimg/169623_big.jpg">
                </a>
            </div>
            <div>
                <a href="/Game/CreateGame">Create game</a>
            </div>

        </div>

    </div>


</div>

@section Styles{
    <link rel="stylesheet" href="~/css/Catalog.css" />
}