@model List<GetFruitConnectTwoViewModel>

    @{
    Layout = "_Layout_GameCatalog";
}

  <title>Fruit connect 2</title>

  <div class="centr">
    <div class="Catalog">
      <div class="Name-catalog"> <u>Похожие игры</u>

      </div>
      <div class="similar-game">
        <img
          src="https://sun9-49.userapi.com/impf/c850024/v850024778/1c97f2/5Vc9KkS7qNA.jpg?size=1214x717&quality=96&sign=cb272af1f2f184018a332734fdf68409&type=app" />

        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEw0j_DGFFxuojUu37wJ9nS0mTF888kb8KYw&usqp=CAU" />

        <img src="https://www.min2win.ru/images/800/7002_800.jpg" />

        <img src="https://ru.mobile-games-box.com/uploads/img/232/7232/1.jpg" />
        <a href="/GameCatalog/AddGame">Добавить игру</a>  
      </div>
    </div>

    <div class="Img-Button">
      <div class="Img">
        <img src="https://www.game-game.com.ua/gamesimg/169623_big.jpg" />
      </div>

      <div class="Gallery-button">
        <div class=Button-container>
          <div class="Button">
            <a href="https://yandex.ru/games/app/96680" class="myButton">Запустить</a>
          </div>
        </div>

        <div class=Button-container>
          <div class="Button">
            <a href="#" class="myButton">Настройки</a>
          </div>
        </div>
        <div class=Button-container>
          <div class="Button">
            <a href="#" class="myButton">Поддержать разработчика</a>
          </div>
        </div>

        <div class=Button-container>
          <div class="Button">
            <a href="/GameCatalog/GetCatalog" class="myButton">Вернуться в каталог</a>
          </div>
        </div>
      </div>
    </div>

    <div class="Info">
      Жанр игры: три в ряд
      
      <p><u>Цели</p></u>
      <p> Основная задача игрока — собирать или обнаруживать уже существующие линейки, цепочки, либо группы из
        фишек,
        имеющие в своём составе не менее трёх игровых элементов. Эта цифра, впрочем, может варьироваться, однако
        количество игр-исключений не столь велико,
        чтобы выделять их в отдельный класс. Для победы игрок должен удовлетворить неким условиям, например — набрать
        нужное количество очков, поместить
        определённые элементы в нужное положение, собрать тройки над выделенными ячейками поля и т.д.
      </p>
     
      <ul>
        <u>Способы</u>
        <li>Способы конструирования цепочек из игровых элементов в своём большинстве делятся на три категории.</li>
        <li>
          Перемена мест. Игрок выделяет две фишки на игровом поле, которые меняются местами друг с другом. Как правило,
          перемена возможна лишь в том случае, когда хотя бы одна из перемещённых фишек войдёт в состав новообразованной
          цепочки</li>
          <li>Вращение. Игрок прокручивает строку или столбец игрового поля таким образом, чтобы получить цепочку или линейку из игровых элементов. 
            Наиболее ярким представителем этого типа головоломок является Chuzzle</li>
            <li>Выделение. Игрок находит уже готовые группы или цепочки на игровом поле и щёлкает мышью на один из элементов, после чего выбранные фишки исчезают.</li>
      </ul>
      <p><u>Препятствия</p></u>
        <p>
        Самым распространённым препятствием является конфигурация игрового пространства, которая делает процесс составления цепочек в определённых точках весьма проблематичным. 
        Эта сложность является платформой, на которой строится весь игровой процесс, однако есть и другие повсеместно встречающиеся преграды, например — зафиксированные игровые 
        элементы. Чаще всего это замороженная или оплетённая цепями фишка. Такой элемент нельзя сдвинуть с места, однако в большинстве случаев он может участвовать в построении 
        цепочек и групп, после чего либо исчезает, либо превращается в рядовую фишку.</p>
        <p><u>Бонусы</p></u>
        <p>В определённые моменты игрок может воспользоваться бонусами, которые уничтожают одну или несколько фишек на игровом поле, разрушают препятствия, 
          либо перекрашивают группу в один цвет, что существенно упрощает составление цепочек. Воспользоваться бонусом можно набрав нужное количество игровых баллов, 
          найдя соответствующий символ на поле или при каком-либо другом выполненном условии.</p>
    </div>

  </div>
  @section Styles{
<link rel="stylesheet" href="~/css/FruitConnetcTwo.css" />
}