body {
    background: url(https://bogatyr.club/uploads/posts/2021-11/thumbs/1636965424_2-bogatyr-club-p-zdorovoe-pitanie-fon-2.jpg);
    background-size: 100%;
}

.myButton {
    box-shadow: 4px 3px 3px 0px #3dc21b;
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 16px 5px;
    text-decoration: none;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .myButton:hover {
        background-color: #56cc16;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

.question {
    font-size: 34px;
    font-weight: 600;
    margin: 130px 0px 30px 0px;
    text-align: center;
}
.answer {
    font-size: 24px;
    font-weight: 400;
    margin: 0px 0px 0px 500px;
   
}