body {
    font: 13pt Arial, Helvetica, sans-serif; /* ����� �� ���-�������� */
    background: #e1dfb9; /* ���� ���� */
}

h2 {
    font-size: 1.5em; /* ������ ������ */
    color: #800040; /* ���� ������ */
    margin-top: 0; /* ������ ������ */
}

.container {
    width: 101%; /* ������ ���� */
    margin: 0 auto; /* ������������ �� ������ */
    background: #f0f0f0; /* ���� ���� ����� ������� */
}

.header {
    margin-left: -22px;
    font-size: 2.5em; /* ������ ������ */
    text-align: center; /* ������������ �� ������ */
    padding: 5px; /* ������� ������ ������ */
    background: #8fa09b; /* ���� ���� ����� */
    color: #ffe; /* ���� ������ */
}

.sidebar {
    margin-top: 10px;
    width: 110px; /* ������ ���� */
    padding: 0 10px; /* ������� ������ ������ */
    float: left; /* ��������� �� ������� ���� */
}

.content {
    margin-left: 130px; /* ������ ����� */
    padding: 10px; /* ���� ������ ������ */
    background: #fff; /* ���� ���� ������ ������� */
    font-size: 1.3em;
}

.footer {
    background: #8fa09b; /* ���� ���� ������� */
    color: #fff; /* ���� ������ */
    padding: 5px; /* ������� ������ ������ */
    clear: left; /* �������� �������� float */
}

.introduction img {
    max-width: 300px;
    max-height: 300px;
    padding: 7px;
}

.introduction {
    display: flex;
}

.table, table tbody, table tbody tr, table tbody tr td {
    border-collapse: collapse;
    border: 1px solid rgb(220, 222, 226);
    padding: 10px;
}

.image_statistic {
    display: flex;
}

    .image_statistic img {
        max-width: 560px;
        max-height: 560px;
    }

.text textArea {
    width: 60%;
    margin-top: 2%;
}

.title input {
    width: 60%;
    margin-top: 2%;
}
.button {
    margin-top: 2%;
}
