.title {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
}

.intro {
    display: flex;
    margin-inline: 30pt;
    margin-inline: 30px;
    margin-inline: 30pt;
}

.gallery img {
    max-width: 350px;
    max-height: 225px;
    min-height: 225px;
    min-width: 350px;
    margin: 10px;
}
.new-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.center-block {
    display: flex;
}

.user-data {
    display: flex;
    align-items: center;
}

.input-parameters {
    height: auto;
    background-color: yellowgreen;
    border: 1px;
    margin-inline: 30pt;
    padding: 15px;
    border-radius: 5px;
    width: auto;
}

.comments {
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.suggestions {
    margin-inline: 30pt;
}

