body {
    font: 13pt Arial, Helvetica, sans-serif; /* ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ ï¿½ï¿½ï¿½-ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
    background: #e1dfb9; /* ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ */
}

h2 {
    font-size: 1.5em; /* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
    color: #800040; /* ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
    display: inline-block;
    border: 2mm ridge rgb(211 220 50 / 30%);
    padding: 5px;
    background: #f0f0f0;
}

.container {
    width: 101%; /* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ */
    margin: 0 auto; /* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
    background: #f0f0f0; /* ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
}

.header {
    margin-left: -22px;
    font-size: 2.5em; /* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
    text-align: center; /* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
    padding: 5px; /* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
    background: #8fa09b; /* ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ */
    color: #ffe; /* ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
}

.sidebar {
    margin-top: 10px;
    width: 110px; /* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ */
    padding: 0 10px; /* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
    float: left; /* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ */
}

.content {
    margin-left: 130px;
    padding: 10px;
    background: #e1dfb9bf;
    font-size: 1.3em;
}

.author {
    display: inline-block;
    margin-top: 1%;
    border: 2mm ridge rgb(211 220 50 / 30%);
    padding: 5px;
    background: #f0f0f0;
}

.footer {
    background: #8fa09b; /* ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
    color: #fff; /* ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
    padding: 5px; /* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
    clear: left; /* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ float */
}

.introduction img {
    max-width: 300px;
    max-height: 300px;
    padding: 7px;
}

.introduction {
    display: flex;
}

.table, table tbody, table tbody tr, table tbody tr td {
    border-collapse: collapse;
    border: 1px solid rgb(220, 222, 226);
    padding: 10px;
}

.image_statistic {
    display: flex;
}

    .image_statistic img {
        max-width: 560px;
        max-height: 560px;
    }

.text textArea {
    width: 60%;
}

.title input {
    width: 60%;
    margin-top: 2%;
}

.button {
    margin: 10px 5px;
}

.textBlock {
    margin-top: 1%;
    border: 2mm ridge rgb(211 220 50 / 30%);
    padding: 7px;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: space-around;
}

    .textBlock img {
        width: 50%;
    }

a.update-link {
    box-shadow: 3px 5px 0px 0px #9fb4f2;
    background: linear-gradient(to bottom, #b3ccf5 5%, #476e9e 100%);
    background-color: #b3ccf5;
    border-radius: 30px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2d60e0;
}

    a.update-link:hover {
        background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
        background-color: #476e9e;
    }

.a.update-link:active {
    position: relative;
    top: 1px;
}

.delete-comment-button {
    box-shadow: 3px 5px 0px 0px #9fb4f2;
    background: linear-gradient(to bottom, #b3ccf5 5%, #476e9e 100%);
    background-color: #b3ccf5;
    border-radius: 30px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2d60e0;
}

    .delete-comment-button:hover {
        background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
        background-color: #476e9e;
    }

    .delete-comment-button:active {
        position: relative;
        top: 1px;
    }

.comments {
    display: flex;
    margin: 10px 5px;
    border: 2mm ridge rgb(211 220 50 / 30%);
    padding: 5px;
    background: #f0f0f0;
    max-width: 100%;
    overflow-wrap: anywhere;
    flex-direction: column;
}

.block {
    border: 2mm ridge rgb(211 220 50 / 30%);
    padding: 5px;
    background: #e1dfb9bf;
}

.borderAuthorComments {
    border: 2mm ridge rgb(211 220 50 / 30%);
    padding: 1px;
    display: inline-block;
    margin-top: 1%;
}

.enterComments {
    display: flex;
    align-items: baseline;
}

.positionAuthor {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

span.authorComments {
    align-self: flex-end;
    text-decoration: underline;
}

.deletBlock {
    display: flex;
    justify-content: flex-end;
}

.deletBlockBorder {
    padding: 4px;
    border: 2mm ridge rgb(211 220 50 / 30%);
    background: #f0f0f0;
}

    .deletBlockBorder input {
        border: 0px;
    }

.updateBlock {
    padding: 4px;
    border: 2mm ridge rgb(211 220 50 / 30%);
    background: #f0f0f0;
}

    .updateBlock input {
        border: 0px;
    }

.template {
    display: none;
}

.UC {
    margin: 10px 5px;
}

.enterCommentsBorder {
    margin: 10px 5px;
}
.RB {
    margin: 10px 5px;
}

.add-comment {
    box-shadow: 3px 5px 0px 0px #9fb4f2;
    background: linear-gradient(to bottom, #b3ccf5 5%, #476e9e 100%);
    background-color: #b3ccf5;
    border-radius: 30px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2d60e0;
}

    .add-comment:hover {
        background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
        background-color: #476e9e;
    }

    .add-comment:active {
        position: relative;
        top: 1px;
    }

.clean {
    box-shadow: 3px 5px 0px 0px #9fb4f2;
    background: linear-gradient(to bottom, #b3ccf5 5%, #476e9e 100%);
    background-color: #b3ccf5;
    border-radius: 30px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2d60e0;
}

    .clean:hover {
        background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
        background-color: #476e9e;
    }

    .clean:active {
        position: relative;
        top: 1px;
    }