@model List<UserViewModel>

<div>
    <a href="/User/AddUser">Add user</a>
</div>
<div>
    @foreach (var viewModel in Model)
    {
        <div class="user">
            @viewModel.Name
            <img src="@viewModel.AvatarUrl" />
        </div>
    }
</div>

<div class="ratio">

</div>

@section Styles{
    <link rel="stylesheet" href="~/css/user.css" />
}