@model List<UserViewModel>

<div>
    <a href="/User/AddUser">Add user</a>
</div>
<div>
    @foreach (var viewModel in Model)
    {
        <div class="user">
            @viewModel.Name
            <img src="@viewModel.AvatarUrl" />
        </div>
    }
</div>

<form method="post" action="/User/Upload" enctype="multipart/form-data">
    <input type="file" name="users" accept=".csv" />
    <input type="submit" value="upload" />
</form>

@section Styles{
    <link rel="stylesheet" href="~/css/user.css" />
}