body {
    font: 13pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #e1dfb9; /* Цвет фона */
   }
   h2 {
    font-size: 1.5em; /* Размер шрифта */
    color: #800040; /* Цвет текста */
    margin-top: 0; /* Отступ сверху */
   }
   .container {
    width: 1800px; /* Ширина слоя */
    margin: 0 auto; /* Выравнивание по центру */
    background: #f0f0f0; /* Цвет фона левой колонки */
   }
   .header {
    font-size: 2.5em; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
    padding: 5px; /* Отступы вокруг текста */
    background: #8fa09b; /* Цвет фона шапки */
    color: #ffe; /* Цвет текста */
   }
   .sidebar {
    margin-top: 10px; 
    width: 110px; /* Ширина слоя */
    padding: 0 10px; /* Отступы вокруг текста */
    float: left; /* Обтекание по правому краю */
   }
   .content {
    margin-left: 130px; /* Отступ слева */
    padding: 10px; /* Поля вокруг текста */
    background: #fff; /* Цвет фона правой колонки */
    font-size: 1.3em;
    }
   .footer {
    background: #8fa09b; /* Цвет фона подвала */
    color: #fff; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    clear: left; /* Отменяем действие float */
   }
   .introduction img
   {
    max-width: 300px;
    max-height: 300px;
    padding: 7px;
   }
   .introduction 
   {
    display: flex;
   }
   .table, table tbody, table tbody tr, table tbody tr td
   {
    border-collapse: collapse;
    border: 1px solid rgb(220, 222, 226);
    padding: 10px;
   }
   .image_statistic
   {
    display:flex;
   }
   .image_statistic img
   {
    max-width: 800px;
    max-height: 800px;
   }