@{
    Layout = "_Layout_Privacy";
}
<div>
    <h1>Политика конфиденциальности</h1>
    Настоящая Политика конфиденциальности персональных данных (далее – Политика
    конфиденциальности) действует в соответствии с требованиями Закона Республики Беларусь
    от 07.05.2021 N99-3 «О защите персональных данных» в отношении всей информации, которую
    ООО «HealthyFoodWeb» может получить о Пользователе во время использования сайта
    www.healthyfoodweb.by.
    <h2>1. Общие положения</h2>
    1.1. Настоящая Политика конфиденциальности описывает методы использования и хранения
    интернет-магазином «HealthyFoodWeb» персональной информации клиентов, посещающих
    сайтwww.healthyfoodweb.by (далее Сайт).
    1.2. Использование клиентом Сайта и предоставление интернет-магазину «tryton.by»
    информации частного характера через Сайт означает согласие с настоящей Политикой
    конфиденциальности и условиями обработки персональных данных клиента, а также согласие
    на передачу, использование и раскрытие его персональных данных согласно условиям
    настоящей Политики конфиденциальности.
    1.3. В случае несогласия с условиями Политики конфиденциальности клиент должен
    прекратить использование Сайта.
    1.4. Настоящая Политика конфиденциальности применяется только в отношении информации
    частного характера, полученной через данный Сайт. Информация частного характера – это
    информация, позволяющая при ее использовании отдельно или в комбинации с другой
    доступной интернет-магазину информацией идентифицировать персональные данные
    клиента.
    1.5. Настоящая Политика конфиденциальности применяется только к Сайту. На Сайте не
    публикуются преднамеренно ссылки на интернет-ресурсы, которые могут привести к
    повреждению компьютера клиента или заражению его вирусами.
    1.6. Администрация Сайта не проверяет достоверность персональных данных,
    предоставляемых Пользователем Сайта.
    <h2>2. Предмет Политики конфиденциальности</h2>
    2.1. Просмотр пользователем содержимого на ресурсе – анонимный. Серверы Сайта могут
    собирать для статистики информацию о типе браузера, компьютера и операционной системы,
    а также IP-адрес.
    2.2. Данные, которые собираются и сохраняются:
    2.2.1. Персональные данные, а также любая другая информация, разрешённые к обработке в
    рамках настоящей Политики конфиденциальности, которую клиенты сознательно и
    добровольно предоставляют путём заполнения регистрационной формы или совершения
    иных действий на Сайте:
    • фамилия, имя;
    • адрес электронной почты (e-mail);
    • контактный телефон;
    • товары, которые выбирает клиент.
    Информация собирается с целью принятия, обработки и доставки заказа; осуществления
    обратной связи с клиентом, предоставления клиентской поддержки, включая направление
    уведомлений, запросов, касающихся использования Сайта.
    2.2.2. Данные из cookies-файлов. Это небольшие текстовые файлы, в которых после
    посещения Сайта cookies-файлов сохраняется информация о действиях клиента на ресурсе.
    Эти файлы не влияют на операционную систему компьютера.
    С какой целью собираются cookies-файлы: интернет-магазин использует эту информацию для
    ведения статистики о пользователях и их запросах. Эти исследования помогают интернет магазину анализировать, оценивать, улучшать свою работу, повышать качество продуктов и
    услуг, совершенствовать механизмы общения с клиентами.
    Клиент может удалить cookies-файлы после посещения Сайта. Однако в этом случае
    интернет-магазин «tryton.by» не несет ответственности за ненадлежащее качество работы
    ресурса.
    2.2.3. Информация от браузера – данные, которые браузер автоматически отправляет
    серверу, например, IP-адрес, историю последних посещений, название операционной
    системы, название и версию программы, через которую клиент осуществляет выход в
    интернет, дату и время посещения сайта пользователем. Можно запретить браузеру
    передавать подобную информацию путем изменения настроек.
    С какой целью собирается: интернет-магазин ведет статистику посещений для
    функционирования своих серверов и учета собственного трафика. В данном случае
    собранная статистическая информация не ассоциируется с конкретными пользователями и
    обрабатывается только в виде обобщенной статистики. IP-адрес клиента и время доступа к
    системе, в соответствии с пользовательским идентификатором, сохраняются в базе данных в
    целях предотвращения мошенничества.
    2.2.4. Информация от третьих лиц – это персональные данные, которые предоставляют
    интернет-магазину партнеры, поставщики или иная третья сторона.
    С какой целью собирается: для выполнения обязательств интернет-магазина по оформлению
    и доставке товара клиенту, обработки и получения платежей или уведомления клиента о
    состоянии его заказа.
    2.4. Любая иная персональная информация неоговоренная выше (история покупок,
    используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и
    нераспространению, за исключением случаев, предусмотренных в п.п. 3.1., 3.2. и 3.3.
    настоящей Политики конфиденциальности.
    <h2>3. Охрана личной информации пользователей</h2>
    3.1. Интернет-магазин «HealthyFoodWeb» никогда и ни при каких обстоятельствах не сообщает
    третьим лицам личную (персональную) информацию о своих клиентах, кроме случаев,
    предписанных законом Республики Беларусь от 7 мая 2021 г. № 99-З «О защите
    персональных данных», или когда клиент добровольно соглашается на передачу
    информации.
    3.2. Интернет-магазин имеет право использовать другие компании и частных лиц для
    выполнения определенных видов работ, например: доставка посылок, почты и сообщений по
    электронной почте, удаление дублированной информации из списков клиентов, анализ
    данных, предоставление маркетинговых услуг, обработка платежей по кредитным картам и
    кредитованию. Эти юридические/физические лица имеют доступ к личной информации
    пользователей, только когда это необходимо для выполнения их функций. Данная
    информация не может быть использована ими в других целях.
    3.3. Персональные данные клиента могут быть переданы уполномоченным органам
    государственной власти Республики Беларусь только по основаниям и в порядке,
    установленным законодательством Республики Беларусь.
    3.4. Интернет-магазин реализует мероприятия по защите личных (персональных) данных
    клиентов в следующих направлениях:
    • предотвращение утечки информации, содержащей личные (персональные) данные, по
    техническим каналам связи и иными способами;
    • предотвращение несанкционированного доступа к информации, содержащей личные
    (персональные) данные, специальных воздействий на такую информацию (носителей
    информации) в целях ее добывания, уничтожения, искажения и блокирования доступа к ней;
    • защита от вредоносных программ;
    • обнаружение вторжений и компьютерных атак.
    <h2>4. Срок хранения персональной информации</h2>
    4.1. Интернет-магазин хранит персональную информацию клиентов ровно столько времени,
    сколько она остается необходимой для достижения тех целей, ради которых она была
    изначально получена, или других законных целей, за исключением случаев, когда более
    длительный период хранения информации необходим в соответствии с законодательством
    либо разрешен им.
    4.2. Если пользователь отзывает свое согласие на хранение и обработку персональных
    данных, то он должен обратиться с просьбой удалить их, написав письмо на электронную
    почту HealthyFoodWeb@gmail.com.
    <h2>Безопасность банковских карт</h2>
    При оплате заказов по эквайрингу с помощью кредитных карт все операции с ними проходят
    на стороне банков в специальных защищенных режимах. Никакая конфиденциальная
    информация о банковских картах, кроме уведомления о произведенном платеже, в интернет магазин не передается и передана быть не может.
    <h2>6. Согласия на обработку персональных данных</h2>
    Настоящим свободно, своей волей и в своем интересе даю согласие ООО
    «HealthyFoodWeb» (далее – Интернет-магазин) на автоматизированную и
    неавтоматизированную обработку моих персональных данных в соответствии со следующим
    перечнем:
    • источник захода на веб-сайт: www.healthyfoodweb.by (далее – Сайт Интернет-магазина) и информация
    поискового или рекламного запроса;
    • данные о пользовательском устройстве (среди которых разрешение, версия и другие
    атрибуты, характеризующие пользовательское устройство);
    • пользовательские клики, просмотры страниц, заполнения полей, показы и просмотры
    баннеров и видео;
    • данные, характеризующие аудиторные сегменты;
    • параметры сессии;
    • данные о времени посещения;
    • идентификатор пользователя, хранимый в cookie,
    для целей повышения осведомленности посетителей Сайта Интернет-магазина о продуктах и
    услугах , предоставления релевантной рекламной информации и оптимизации рекламы.
    Также даю свое согласие на предоставление Интернет-магазину моих персональных данных
    как посетителя Сайта - www.tryton.by агентствам, с которыми сотрудничает Интернет-магазин.
    Интернет-магазин вправе осуществлять обработку моих персональных данных следующими
    способами: сбор, запись, систематизация, накопление, хранение, обновление, изменение,
    использование, передача (распространение, предоставление, доступ). Настоящее согласие
    вступает в силу с момента моего перехода на Сайт Интернет-магазина и действует в течение
    сроков, установленных действующим законодательством РБ.
</div>
