@model CartItemViewModel

<div class="create-product">
    <div class="data">
    <form method="post">
        <div>
            Name: @Html.TextBoxFor(x => x.Name)
        </div>
        <div>
            Price: @Html.TextBoxFor(x => x.Price)
        </div>
        <div>
            <input type="submit" value="Create product" />
        </div>
    </form>
    </div>

    <div class="preview">
         <div>
            Product name: <span class="name">Salat</span> <span class="price">0</span>$
        </div>
        <div class="preview-container">
            <img />
        </div>
    </div>


@section Scripts{
    <script src="~/js/addproductinbase.js"></script>
}
