@model StoreItemViewModel

<div>
    <form method="post">
        <div>
            Name: @Html.TextBoxFor(x => x.Name)
        </div>
        <div>
            Price: @Html.TextBoxFor(x => x.Price)
        </div>
        <div>
            ImageUrl: @Html.TextBoxFor(x => x.Img)
        </div>
        <div>
            Manufacturer: @Html.DropDownListFor(m => )
        </div>
        <div>
            <input type="submit" value="Create product" />
        </div>
    </form>
</div>