@{
    Layout = "_layoutStore";
}

@model PagginatorViewModel<CartViewModel>


<div class="text">
    Ordering
</div>

<div>
    @foreach (var cartViewModel in Model.Items)
    {
        <div class="order-list">
            <div class="image-order">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF8gHmWeHyBa94vo3f2KJ_ohQpRSUMqUGdQQ&usqp=CAU" />
            </div>
            <div class="order-description">
                <div class="title-of-dishes">
                    Name of dish: @cartViewModel.Name
                </div>
                <div class="details">
                    Ditails
                </div>
            </div>
            <div class="order-quantity">
                <button class="quantity-controller">
                    <a href="/Store/DeleteFromCart?name=@cartViewModel.Name">-</a>
                </button>
                <div class="quantity-number">
                    1
                </div>
                <button class="quantity-controller">
                    <a href="/Store/AddProductInBase">+</a> 
                </button>
            </div>

            <div class="order-price">
                @cartViewModel.Price
            </div>
        </div>
    }
</div>

<div class="form-total-cost">
    <div class="total-text">
        Total:
    </div>
    <div class="total-price">
        20$
    </div>
</div>

<div class="order-button-content">
    <button class="order-button">
        To order
    </button>
</div>

<div class="pagginator">
    @foreach (var pageNumber in Model.PageList)
    {
        <a href="/Store/CartPage/CartPage?page=@pageNumber"
       class=" @(Model.ActivePageNumber == pageNumber ? "active" : "")">@pageNumber</a>
    }
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/styleCartPage.css">
    }

