@using Data.Interface.Models;
@model WikiMCViewModel

<div>
    <form method="post">
        <div>
            Type: @Html.DropDownListFor(x=>x.ImgType, Html.GetEnumSelectList(typeof(ImgTypeEnum)))
        </div>
        <div>
            Year: @Html.TextBoxFor(x=>x.Year)
        </div>
        <div>
            ImgUrl: 
            @Html.TextBoxFor(x => x.ImgPath)
            @*<input type="text" name="ImgPath" id="ImgPath" />*@
        </div>
        <div>
            <input type="submit" value="Add" />
        </div>
    </form>
</div>