@using HealthyFoodWeb.Models.ModelsWiki;
@{
    Layout = "_LayoutWiki";
    <link rel="stylesheet" href="~/css/Style_Slava_BAA.css" />
}
@model BlockInformationModels

  
    <div class="container">
    <div class="header">@Model.Title</div>
        <div class="sidebar">
            <p>Магазины БАДов :</p>
            <p><a href="https://gamma.by/sportpit/zdorovie/">Gamma.by</a></p>
            <p><a href="https://kakvapteke.by/catalog/bady/">Kakvapteke.by</a></p>
            <p><a href="https://sofishop.by/catalog/bady/">Sofishop.by</a></p>
        </div>
        <div class="content">
            <div>
                <h2>БАД (биологически активные добавки)</h2>
            </div>
            <div class="introduction">
                <img src="https://biopharmanorge.ru/uploads/blog/%D0%B1%D0%B0%D0%B4%D1%8B.jpeg">
                В данной статье вы узнаете, что такое БАДы. Польза биологически активных добавок в питании, состав и содержание
                натуральных веществ. Подробности на сайте.
                БАДы появились 100 лет назад. Первую в мире люцерновую добавку к пище создал американский химик Карл Ренборг.
                Сегодня применение биодобавок стало обычным делом, а с приходом пандемии спрос на них вырос в десятки раз.
                Витамины и БАД принимают для профилактики, во время разных болезней, в периоды восстановления.
                В Россию БАДы пришли в конце прошлого века. Сегодня практически в каждой домашней аптечке можно найти баночки с
                биодобавками. Их рассматривают как альтернативу средствам народной медицины. Биодобавками люди пытаются
                лечиться, но не всегда выбирают правильную комбинацию компонентов. Что такое БАДы, как их правильно принимать —
                читайте в нашей статье.
            </div>
            <h3>Что такое БАДы?</h3>
            <p>
                БАД — биологически активная добавка, дополнение к пище. Полезные вещества поступают вместе с едой, однако
                компенсировать все потребности одними продуктами сложно. При хроническом недостатке витаминов, микроэлементов,
                макроэлементов, биосорбентов, микронутриентов нарушается гомеостаз, а вместе с ним — работа отдельных органов и
                систем. Кроме того, существуют вещества, которые организм не может вырабатывать, но остро в них нуждается.
                Биологически активные добавки — это источник веществ для восполнения потенциального пищевого дефицита. Дополняя
                свой рацион БАД, можно восстановить и поддержать некоторые функции организма. По данным научных исследований,
                регулярное применение биодобавок снижает риск развития дефицитных состояний на 80%.
            </p>
            <h3>Виды добавок</h3>
            <p>
                Биологически активные добавки делят по составу и направленному действию на три большие группы — нутрицевтики,
                парафармацевтики, эубиотики.К нутрицевтикам относят витамины и витаминоподобные средства — предшественники
                витаминов, аминокислот, макро и микроэлементов, полиненасыщенных жирных кислот, углеводов (моносахаридов и
                дисахаридов), клетчатки, некоторые ферментов. Их действие направлено на профилактику болезней, торможение
                старения организма, увеличение продолжительности жизни, поддержание работоспособности органов и систем, общее
                улучшение состояния здоровья. Нутрицевтики работают по принципу накопительного эффекта. Для достижения
                результата биоактивное средство нужно пит длительное время. Однако после окончания приема их концентрация в
                организме сохраняется еще дольше.
            </p>
            <div class="image_statistic">
                <img src="https://documents.infourok.ru/6a28fa77-52a3-4aa1-b1cf-0fc0a8fe9fab/slide_05.jpg">
                <img src="https://cf2.ppt-online.org/files2/slide/m/ME5jmwvTgyqU017RiYandr2JO3BsbepCz48hK6ftX/slide-19.jpg">
            </div>
            <p>В группу парафармацевтиков включены биосредства, содержащие такие компоненты</p>
            <ul>
                <li>пептиды;</li>
                <li>продукты пчеловодства (мед, прополис, пчелиное маточное молочко);</li>
                <li>органические кислоты;</li>
                <li>растительные антиоксиданты (биофлавоноиды);</li>
                <li>гликозиды;</li>
                <li>эфирные масла;</li>
                <li>азотсодержащие органические соединения (алкалоиды);</li>
                <li>желчь.</li>
            </ul>
            <h3>Чем отличаются БАДы от лекарств</h3>
            <table>
                <tbody>
                    <tr>
                        <td>Лекарства</td>
                        <td>Биологически активные добавки</td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                Имеют строго химическую формулу и предназначены для клинически доказанного лечения
                                заболеваний.
                            </span>
                        </td>
                        <td>
                            Главная функция в восполнении дефицита жизненно важных веществ, дающих организму возможность быстрее
                            восстановиться и снизить риск появления заболеваний. Поэтому врачи часто прописывают биодобавки в качестве
                            дополнения к основной терапии.<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                Обязательно проходят клинические испытания, что позволяет узнать о том, как воздействует на
                                организм тот или иной препарат.
                            </span>
                        </td>
                        <td>
                            <span>
                                Препараты не обязаны проходить клинических испытаний, поэтому наименование БАД на упаковке может
                                указать любой производитель, прошедший государственную регистрацию. В таком случае есть определенный
                                риск, так как сложно спрогнозировать результат и возможные побочные эффекты. Однако не стоит думать о
                                лояльности институтов питания к БАДам. В процессе регистрации, перед тем как получить экспертное
                                заключение Роспотребнадзора, БАДы проходят проверку на соответствие санитарным нормам, безопасности
                                продукции и т.д. <span>
                                    Эксперты внимательно изучают состав, качество и чистоту продукта. Важно также
                                    выбирать производителей, имеющих сертификат СВОЕЙ страны, а еще лучше - международные
                                    одобрения.
                                </span><br>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Определенная дозировка активного вещества в составе.</span></td>
                        <td>
                            <span>
                                Имеют свободную рецептуру, которая фиксируется после регистрации товара. Изменения состава могут
                                повлечь за собой негативные последствия, в том числе потерю репутации производителя.
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>Как подобрать биологически активную добавку?</h3>
            <p>
                Выбор средства зависит от области применения. Сегодня можно найти биологически активные добавки на все случаи
                жизни. Весной и осенью, когда организму нужна помощь, чтобы противостоять сезонным инфекциям, можно использовать
                БАДы для повышения иммунитета. Если же избежать болезни не удалось, быстрее выздороветь помогут БАДы при
                простуде. Перед тем, как принимать биодобавку вместе с лекарствами, нужно проконсультироваться с врачом. БАД
                может ускорить выведение препарата или ухудшить (замедлить) его всасывание, что чревато снижением лечебного
                эффекта.
            </p>
            <p>
                Для людей с хроническими заболеваниями или предрасположенностью к ним разработаны комплексы направленного
                действия:&nbsp;
            </p>
            <ul>
                <li>для мочеполовой системы;</li>
                <li>для улучшения работы желудочно-кишечного тракта;</li>
                <li>
                    <a href="https://www.rigla.ru/cat/lekarstvennye-preparaty/serdechno-sosudistye-preparaty" target="_blank"
                       rel="noopener" data-cke-saved-href="https://366.ru/c/bad-dlja-serdechnososudistoj-sistemy/">
                        для
                        сердечно-сосудистой системы
                    </a>.
                </li>
            </ul>
            <h3>Дозировка</h3>
            <p>
                Каждую упаковку сопровождает инструкция с указанием дозировки. Взрослому человеку достаточно 1-2 капсул
                (таблеток) в день. Пить желательно в одно и то же время, чтобы сохранять постоянную концентрацию активного
                вещества в крови. Принимать добавку до еды или после — зависит от состава. Некоторые БАДы выпускаются в форме
                капель. Также есть детские варианты биодобавок в виде жевательных конфет.
            </p>
            <p>
                При интенсивных физических нагрузках, занятиях спортом повысить выносливость помогут средства для активного
                образа жизни. Многие из них содержат таурин — аминокислоту, которая устраняет крепатуру, мышечные спазмы.
            </p>

        </div>
        <div class="footer">&copy; Крылов Вячеслав</div>
    </div>


