@using HealthyFoodWeb.Models.ModelsWiki;
@using Data.Interface.Models;
@using Data.Interface.Repositories;
@{
    Layout = "_LayoutWiki";
    <link rel="stylesheet" href="~/css/Style_Slava_BAA.css" />
}
@model PageBaaViewModel

<div class="container">
    <div class="header"><h1>Биологически активные добавки(БАД)</h1></div>
    <div class="sidebar">
        <p>Магазины БАДов :</p>
        <p><a href="https://gamma.by/sportpit/zdorovie/">Gamma.by</a></p>
        <p><a href="https://kakvapteke.by/catalog/bady/">Kakvapteke.by</a></p>
        <p><a href="https://sofishop.by/catalog/bady/">Sofishop.by</a></p>
    </div>
    @foreach (var pageViewModelBaa in Model.BlocksList)
    {
        <div class="content">
            <div Titles><h2>@pageViewModelBaa.Title <a href="/Wiki/Remove?id=@pageViewModelBaa.Id">delete</a></h2></div>

            <div Texts>@pageViewModelBaa.Text</div>
            @foreach (var pageViewModelBaaAuthor in Model.BlocksListWithAuthor)
        {
                @foreach (var authorName in pageViewModelBaaAuthor.Authors)
                {
                    <p>Автор Текста: @authorName</p>
                }
            }
        </div>
    }
    <div class="footer">&copy; Крылов Вячеслав</div>
</div>



