@using HealthyFoodWeb.Models.ModelsWikiBAA;
@model BLockPageBaaViewModel
@{
    Layout = "_LayoutWiki";
    <link rel="stylesheet" href="~/css/Style_Slava_BAA.css" />
}

<div class="container">
    <div class="header"><h1>Create a new block</h1></div>
    <div class="sidebar">
        <p>Магазины БАДов :</p>
        <p><a href="https://gamma.by/sportpit/zdorovie/">Gamma.by</a></p>
        <p><a href="https://kakvapteke.by/catalog/bady/">Kakvapteke.by</a></p>
        <p><a href="https://sofishop.by/catalog/bady/">Sofishop.by</a></p>
    </div>
    <div class="content">
        <div>
            @if (Model.CountImg == 0)
            {
                <form action="/Wiki/CountImg">
                    <div class="countImg">
                        How many pictures do you want to Enter in Block?
                        <input type="number" name="countImg" />
                        <div class="button">
                            <input type="submit" value="Ok" />
                        </div>
                    </div>
                </form>
            }
            @if (Model.CountImg != 0)
            {
                <form method="post" enctype="multipart/form-data">
                    <div class="title">
                        Enter Title: @Html.TextBoxFor(x => x.Title)
                        @Html.ValidationMessageFor(x=>x.Title)
                    </div>
                    <div class="text">
                        Enter Text: @Html.TextAreaFor(x => x.Text)
                        @Html.ValidationMessageFor(x=>x.Text)
                    </div>
                    <div class="blockImg">
                        <span>
                            Enter Url Image:
                            @for (int i = 0; i < Model.CountImg; i++)
                            {
                                <input type="file" multiple="multiple" name="CoverFiles[@i]"/>
                                @*<input type="url" name="img[@i].url" />*@
                            }
                        </span>
                    </div>

                    <div class="button">
                        <input type="submit" value="Create block" />
                    </div>
                </form>
            }
        </div>
    </div>

    <div class="footer">&copy; Крылов Вячеслав</div>
</div>



