@{
    Layout = "_LayoutWiki";
    <link rel="stylesheet" href="~/css/Style_Macronutrient_Calculator.css" />
}

<div class="container">
    <div class="center-block">
        <div class="main-menu">Главное меню</div>
        <div class="content">
            <div class="header">Расчет КБЖУ</div>
            <div class="start-text">
                <p align="justify">
                    Здоровье, активность, настроение и внешний вид человека напрямую зависят от его рациона. В нем действует вечный закон природы — потребность в балансе составляющих. Наша еда состоит из так называемых <em>нутриентов</em>, их соотношение влияет на количество полезных веществ в организме, набор или потерю веса, общее самочувствие.
                </p>
                <p align="justify">
                    Нутриенты — важнейший «строительный материал» нашего тела, от соотношения которых зависит количество энергии, получаемой из пищи, и особенности ее переработки организмом. Наука разделяет их на три ключевые группы — <b><em>белки</em></b>, отвечающие за рост мышц, <b><em>жиры</em></b>, контролирующие гормональный баланс и работу мозга, и <b><em>углеводы</em></b> — источник энергии.
                    Нутриенты различаются по энергетической ценности, влиянию на организм и для правильного рациона необходимо знать, сколько их должно быть в еде — в пересчете на калории и в процентном соотношении.
                </p>
                <h3 class="nutrients">
                    Какая норма нутриентов в день?
                </h3>
                <p align="justify">
                    Для поддержания ежедневной физической и мозговой активности, улучшения процесса построения мышц и ухоженного внешнего вида, необходимо придерживаться некоторых усредненных значений норм полезных веществ в расчете на 1 килограмм веса человека:
                </p>
                <ul align="justify">
                    <li>для белка — 1,5 грамма при средней активности, 2 грамма при занятиях спортом. Калорийность 1 г белка равна 4 ккал;</li>
                    <li>для жиров — 0,8 грамма при стандартном образе жизни, 1,5 грамма при постоянной физической активности. Калорийность 1 г жира варьируется от 7 до 9 ккал;</li>
                    <li>для углеводов — 2 грамма, спортсмены и люди, занимающиеся тяжелым физическим трудом, увеличивают значение в два и более раз. Калорийность 1 г углеводов равна 4 ккал.</li>
                </ul>
                <p align="justify">
                    Превышение или уменьшение нормы ведет к нарушению баланса в организме, болезням, расстройствам пищевого поведения, вызванным нехваткой полезных веществ. Поэтому знать «свои цифры» и вести расчет БЖУ важно для всех, кто заботится не только и своём питании, но и здоровье в целом.
                </p>
            </div>
            <div class="gallery">
                <div class="image-container">
                    <img src="https://avatars.dzeninfra.ru/get-zen_doc/41204/pub_5b00259fad0f222dd299aae7_5b005a50a936f4e52e30b616/scale_1200">
                </div>
                <div class="image-container">
                    <img src="https://www.health.com/thmb/nxURaqGxebTJBMzXi5jZpaAL02Q=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Healthy-Fats-Food-GettyImages-1301412044-2000-8ab23a10624d42df85fa3f37d7c76a6b.jpg">
                </div>
                <div class="image-container">
                    <img src="https://medlineplus.gov/images/Carbohydrates_share.jpg">
                </div>
            </div>
            <div class="calculations">
                <p align="justify">
                    Существует несколько формул для расчета базального метаболизма (он же основной обмен), а в последствии и суточного калоража:
                </p>
                <ul align="justify">
                    <li>Харриса-Бенедикта;</li>
                    <li>Миффлина-Сан-Жеора;</li>
                    <li>ВОЗ</li>
                </ul>
                <p align="justify">
                    Все эти формулы предоставляют лишь ориентировочное значение, отличающееся лишь процентом погрешности. Для вычисления необходимо знать физические и биологические параметры человека (пол, возраст, рост, вес), а также коэффициент дневной активности и желаемый процент дефицита или профицита (в зависимости от ваших целей). Заполнив приведенную ниже анкету вы сможете рассчитать ваш суточный калораж.
                </p>
            </div>
            <div class=" data1">
                <div class="input-parameters">
                    <div class="sex">
                        <p>
                            <b>Выберите пол:</b><Br>
                            <input type="radio" name="select-sex" value="female"> женский
                            <input type="radio" name="select-sex" value="male"> мужской
                        </p>
                    </div>
                    <div class="goal">
                        <p>
                            <b>Выберите цель:</b><Br>
                            <input type="radio" name="select-goal" value="weight-loss"> Похудение<Br>
                            <input type="radio" name="select-goal" value="weight-gain"> Набор массы<Br>
                            <input type="radio" name="select-goal" value="weight-maintenance"> Поддержание веса<Br>
                        </p>
                    </div>
                    <div class="age">
                        <form>
                            <label>
                                Введите возраст<Br>
                                <input type="text">
                            </label>
                        </form>
                    </div>
                    <div class="weight">
                        <form>
                            <label>
                                Введите вес<Br>
                                <input type="text"> кг
                            </label>
                        </form>
                    </div>
                    <div class="height">
                        <form>
                            <label>
                                Введите рост<Br>
                                <input type="text"> м
                            </label>
                        </form>
                    </div>
                    <div class="percentage-of-deficit-or-surplus">
                        <form>
                            <label>
                                Введите % дефицита/профицита<Br>
                                <input type="text">
                            </label>
                        </form>
                    </div>
                    <div class="activity-ratio">
                        <select name="select-activity-ratio" required="required">
                            <option value="">Коэффициент активности</option>
                            <option value="minimum">1,20</option>
                            <option value="low">1,375</option>
                            <option value="average">1,46</option>
                            <option value="above-average">1,55</option>
                            <option value="increased">1,64</option>
                            <option value="high">1,72</option>
                            <option value="very-high">1,90</option>
                        </select>
                    </div>
                    <div class="calculations-results">
                        <br><form>
                            <label>
                                Формула Харриса-Бенедикта:<br>
                                <input type="text"> ккал
                            </label>
                        </form>
                        <form>
                            <label>
                                Формула Миффлина-Сан-Жеора:<br>
                                <input type="text"> ккал
                            </label>
                        </form>
                        <form>
                            <label>
                                Формула ВОЗ:<br>
                                <input type="text"> ккал
                            </label>
                        </form>
                        <form>
                            <label>
                                <b>Среднее значние:</b><br>
                                <input type="text"> ккал
                            </label>
                        </form>
                    </div>
                    <div class="data2">
                        <form>
                            <label>
                                Суточная норма ккал:
                                <input type="text">
                            </label>
                        </form>
                        <form>
                            <input type="text" id="proteins" placeholder="30" size="1">%
                            <label for="name"><b>белки</b></label>
                            <input type="text"> г
                        </form>
                        <form>
                            <input type="text" id="proteins" placeholder="30" size="1">%
                            <label for="name"><b>жиры</b></label>
                            <input type="text"> г
                        </form>
                        <form>
                            <input type="text" id="proteins" placeholder="40" size="1">%
                            <label for="name"><b>углеводы</b></label>
                            <input type="text"> г
                        </form>
                    </div>
                </div>
                <div class="comments">
                    <div class="percentage-of-deficit-comments">
                        <b>Как определить процент дефицита или профицита:</b>
                        <ul align="justify">
                            <li>По умолчанию рекомендуем брать 20%.</li>
                            <li>Если вы не хотите форсировать процесс похудения или набора веса, то выбирайте 10-15%.</li>
                            <li>Если ИМТ (индекс массы тела) больше 30, то можно взять дефицит 25-30% (после нормализации веса, уменьшите дефицит до 20%)</li>
                        </ul>
                    </div>
                    <div class="activity-ratio-comments">
                        <b>Как определить коэффициент активности:</b><Br>
                        <ul align="justify">
                            <li>1,20 –  минимальная активность (отсутствие физических нагрузок, сидячая работа, минимум движения);</li>
                            <li>1,375 – небольшая активность (легкие тренировки или прогулки, небольшая дневная активность);</li>
                            <li>1,46 – средняя активность (тренировки 4-5 раз в неделю, хорошая дневная активность);</li>
                            <li>1,55 – активность выше среднего (интенсивные тренировки 5-6 раз в неделю, хорошая дневная активность);</li>
                            <li>1,64 – повышенная активность (ежедневные тренировки, высокая дневная активность);</li>
                            <li>1,72 – высокая активность (ежедневные ультра-интенсивные тренировки и высокая дневная активность);</li>
                            <li>1,90 – очень высокая активность (обычно речь идет о спортсменах в период соревновательной активности).</li>
                        </ul>
                    </div>
                    <h3 class="common-ratio">
                        Соотношение Белков-Жиров-Углеводов
                    </h3>
                    <div class="ratio">
                        <p aligm="justify">
                            После расчета калорий вам необходимо посчитать БЖУ. Для того чтобы определить, какая норму белков, углеводов и жиров соответствует вашей норме калорий, нужно в первую очередь знать процент распределения БЖУ.
                        </p>
                        <p> <b>Стандартный и рекомендованный вариант БЖУ:</b></p>
                        <ul align="justify">
                            <li>Белки: 30%;</li>
                            <li>Жиры: 30%;</li>
                            <li>Углеводы: 40%.</li>
                        </ul>
                        <p align="justify">
                            БЖУ 30/30/40 – это классический вариант распределения БЖУ, который рекомендуется использовать, если вы не тренируетесь или тренируетесь для общего похудения и тонуса тела (в домашних условиях, на групповых занятиях или в тренажерном зале с небольшим весом отягощений). Другие варианты распределения БЖУ лучше использовать, если вы уже подкованный человек в вопросах строительства тела или после консультации с тренером.
                        </p>
                        <p> <b>Вариант БЖУ для занимающихся спортом и работающих на рельеф:</b></p>
                        <ul align="justify">
                            <li>Белки: 40%;</li>
                            <li>Жиры: 20-25%;</li>
                            <li>Углеводы: 35-40%.</li>
                        </ul>
                        <p> <b>Вариант БЖУ для занимающихся спортом и работающих на массу:</b></p>
                        <ul align="justify">
                            <li>Белки: 30-40%;</li>
                            <li>Жиры: 20-25%;</li>
                            <li>Углеводы: 40-50%.</li>
                        </ul>
                    </div>
                    <p align="justify"> Теперь зная свою суточную норму калорий и возможные варианты процентного соотношения белков, жиров и углеводов, используя наш калькулятор вы можете рассчитать ваше суточное количество БЖУ (по умолчанию выбран стандартный вариант БЖУ 30/30/40, однако вы можете изменить его в соответствии со своими нуждами).</p>
                </div>
            </div>
            <div class="suggestions">
                <h4>
                    Рекомендуем также прочитать другие наши статьи по питанию:
                </h4>
                <ul align="justify">
                    <li><a href="https://goodlooker.ru/pravilnoe-pitanie.html" class="my-link" target="_blank"> Правильное питание: самый подробный гид по переходу на ПП</a></li>
                    <li><a href="https://goodlooker.ru/podschet-kalorij.html" class="my-link" target="_blank"> Подсчет калорий: с чего начать подробно?</a></li>
                    <li><a href="https://goodlooker.ru/uglevody.html" class="my-link" target="_blank">Все об углеводах: простые и сложные углеводы для похудения</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer"></div>
    </div class="container">
